<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">
        <span th:text="'Admin '+ ${adminSessionDto.username} +' Welcome to Dashboard'"></span>
    </h1>
    <h2 th:text="'Admin Details'"></h2>
    <h3 th:text="'Id: '+${adminSessionDto.id}"></h3>
    <h3 th:text="'Username: '+${adminSessionDto.username}"></h3>
    <h3 th:text="'Role: '+${adminSessionDto.role}"></h3>
    <h3 th:text="'Status: ' + ${adminSessionDto.status}"></h3>
    <h3 th:text="'Failed Login Attempts: ' + ${adminSessionDto.failedLoginAttempts}"></h3>
</div>

<div class="container mt-5">
    <h1 class="text-center" th:text="'JOB SEEKER LIST'"></h1>

    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th th:text="'ID'"></th>
            <th th:text="'USER ID'"></th>
            <th th:text="'NAME'"></th>
            <th th:text="'SURNAME'"></th>
            <th th:text="'PHONE'"></th>
            <th th:text="'FIELD OF EXPERIENCE'"></th>
            <th th:text="'EXPERIENCE YEAR'"></th>
            <th th:text="'MILITARY SERVICE FINISHED'"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jobSeekerEntity : ${jobSeekerEntityList}">
            <td th:text="${jobSeekerEntity.id}"></td>
            <td th:text="${jobSeekerEntity.userEntity.id}"></td>
            <td th:text="${jobSeekerEntity.name}"></td>
            <td th:text="${jobSeekerEntity.surname}"></td>
            <td th:text="${jobSeekerEntity.phone}"></td>
            <td th:text="${jobSeekerEntity.fieldOfExperience}"></td>
            <td th:text="${jobSeekerEntity.experienceYear}"></td>
            <td th:text="${jobSeekerEntity.isMilitaryServiceFinished()}"></td>
        </tr>


        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td>
                <a th:href="@{/admin_dashboard/military_service_filter}" th:text="'Filter by Military Service'"></a>
            </td>
            <td>
                <a th:href="@{/admin_dashboard/five_experience_year_filter}" th:text="'Filter by 5+ Experience Year'"></a>
            </td>
            <td>
                <a th:href="@{/admin_dashboard}" th:text="'Show All Job Seekers'"></a>
            </td>
        </tr>

        </tbody>
    </table>

</div>


<!--
<div>
    <h1 class="text-center"
        th:text="${sessionDto != null}
        ? 'Admin ' + sessionDto.username + ' Welcome To Dashboard'
        :'Admin Dashboard Without sessionDto'">

    </h1>
</div>
-->
<!--
<div class="text-center mt-4">
<a th:href="@{/logout}" class="btn btn-primary" th:text="'Logout'"></a>
</div>
-->
<div class="text-center mt-4">
    <form th:action="@{/logout}" th:method="post">
        <button type="submit" th:text="'Logout'"></button>
    </form>

</div>
</body>
</html>