<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">
        Welcome to the Registration Page
    </h1>
</div>

<div>
    <form th:action="@{/register}" th:object="${registerDto}" method="post">
        <label th:text="'Username'"></label>
        <input type="text" th:field="*{username}" required>
        <label th:text="'Password'"></label>
        <input type="password" th:field="*{password}" required>
        <button type="submit" th:text="'Register'"></button>
    </form>
</div>

<div class="text-center mt-4">
    <a th:href="@{/login}" class="btn btn-primary"> Back to Login Page</a>
</div>
</body>
</html>