<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">
        Welcome to the Registration Page
    </h1>
</div>

<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}">

</div>
<div>
    <form th:action="@{/register}" th:object="${registerDto}" method="post">
        <label th:text="'Username :'"></label>
        <input type="text" th:field="*{username}" required>
        <br>
        <label th:text="'Password :'"></label>
        <input type="password" th:field="*{password}" required>
        <br>
        <label th:text="'Name :'"></label>
        <input type="text" th:field="*{name}">
        <br>
        <label th:text="'Surname :'"></label>
        <input type="text" th:field="*{surname}">
        <br>
        <label th:text="'Phone :'"></label>
        <input type="text" th:field="*{phone}">
        <br>
        <label th:text="'Field of Experience :'"></label>
        <input type="text" th:field="*{fieldOfExperience}">
        <br>
        <label th:text="'Experience Year :'"></label>
        <input type="number" th:field="*{experienceYear}">
        <br>
        <label th:text="'Is Military Service Finished :'"></label>
        <input type="checkbox" th:field="*{militaryServiceFinished}">
        <br>
        <button type="submit" th:text="'Register'"></button>
    </form>
</div>

<div class="text-center mt-4">
    <a th:href="@{/login}" class="btn btn-primary"> Back to Login Page</a>
</div>
</body>
</html>