<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<body>
<div class="container mt-5">
    <h1>
        <span th:text="'Welcome User ' + *{userSessionDto.username} + ' to the User Dashboard'"></span>
    </h1>

    <h2 th:text="'User Details'"></h2>
    <h3 th:text="'User Id: ' + ${userSessionDto.id}"></h3>
    <h3 th:text="'Username: '+${userSessionDto.username}"></h3>
    <h3 th:text="'Role: '+${userSessionDto.role}"></h3>
    <h3 th:text="'Status: ' + ${userSessionDto.status}"></h3>
    <h3 th:text="'Failed Login Attempts: ' + ${userSessionDto.failedLoginAttempts}"></h3>
    <h3 th:text="'Name: ' + ${jobSeekerEntity.name}"></h3>
    <h3 th:text="'Surname: ' + ${jobSeekerEntity.surname}"></h3>
    <h3 th:text="'Phone: ' + ${jobSeekerEntity.phone}"></h3>
    <h3 th:text="'Field of Experience: ' + ${jobSeekerEntity.fieldOfExperience}"></h3>
    <h3 th:text="'Experience Year: ' + ${jobSeekerEntity.experienceYear}"></h3>
    <h3 th:text="'Military Service Finished: ' + ${jobSeekerEntity.isMilitaryServiceFinished()}"></h3>












</div>

<!--
<div class="text-center mt-4">
    <a th:href="@{/logout}" class="btn btn-primary" th:text="'Logout'"></a>
</div>
-->

<div class="text-center mt-4">
    <form th:action="@{/logout}" th:method="post">
        <button type="submit" th:text="'Logout'"></button>

    </form>

</div>
</body>
</html>